<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandroid50" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="1.4.2.6359" targetFramework="monoandroid50" />
  <package id="XamDroid.FitChart" version="1.0.0" targetFramework="monoandroid50" />
</packages>